
NatsPublisher/obj/

NatsSubscriber/obj/

NatsTask.Common/obj/

NatsTask.Common/bin/Debug/netstandard2.0/

.vs/NatsTask/v16/

NatsTask.sln.DotSettings

NatsSubscriber/bin/Debug/netcoreapp3.1/

NatsPublisher/bin/Debug/netcoreapp3.1/

.vs/NatsTask/DesignTimeBuild/

NatsPublisher/bin/Release/netcoreapp3.1/

NatsPublisher/Properties/

NatsSubscriber/bin/Release/netcoreapp3.1/

NatsSubscriber/Properties/

NatsTask.Common/bin/Release/netstandard2.0/
